.Dashboard {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.playerlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 80vh
}

.playerlist .PlayerDisplay {
    max-width: 80%;
    align-items: center;
}

.panel {
    width: 40vw;
    height: 80%;
    margin: 2vh 2%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

#SelectCurrLeage {
    min-width: 130px;
}

.Dashboard h3{
    color:white;
}

#leagueContainer{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
}
#leagueContainer #createLeagueContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: 30%;
    white-space: nowrap;
}

#createLeagueContainer .DashboardButton {
    width: 70%;
    text-align: center;
    height: fit-content;
}

#leagueContainer #select-league-container {
    width:40%
}

/* CSS */
.DashboardButton {
  background-color: #a4b7ff;
  border: 0;
  border-radius: .4rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0px;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.DashboardButton:hover {
  background-color: #99acf1;
}

.DashboardButton:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.DashboardButton:focus-visible {
  box-shadow: none;
}
#rightPanel .DashboardButton{
    width: 40%;
}